modules = ["nodejs-20:v8-20230920-bd784b9", "web"]
run = "npm install && npm run dev"
hidden = [".config", ".git", "generated-icon.png", "node_modules", "dist"]

[nix]
channel = "stable-24_05"

[deployment]
deploymentTarget = "cloudrun"
run = ["npm", "run", "start"]
buildCommand = ["npm", "install", "&&", "npm", "run", "build"]

[env]
NODE_ENV = "production"
SUPABASE_URL = "https://jmpxvzuxbyfjrttxwtnn.supabase.co"
SUPABASE_KEY = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImptcHh2enV4YnlmanJ0dHh3dG5uIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDMyOTA0NjQsImV4cCI6MjA1ODg2NjQ2NH0.jVIQ4iTAYHXRwKSs5i4qjxVVo3sAc6rVY-Zpj2F2u4E"

[[ports]]
localPort = 5000
externalPort = 80
